body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* This prevents the 'blue' sideways scrolling */
    width: 100%;
    background: linear-gradient(180deg, #4B0082, #1E90FF);
}

.btn {
    padding: 20px;
    /* width: 170px; */
    width: 20%;
    min-width: 150px;
    border-radius: 15px;
    margin: 15px;
    background-color: rgb(64, 64, 255);
    color: white;
    border: none;
}

.btn:hover {
    background-color: rgb(97, 97, 249);
    transition: 0.3s ease-in;
}

body h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.input {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.selection {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* min-height: 100vh; */
    align-items: center;
    gap: 20px;
    padding: 20px;
}

body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;


}



#output {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding: 1.2rem;
    background: #f8f9fa;
    width: 90%;
    max-width: 320px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
}

#output:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

@media (max-width: 480px) {
    .selection{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

}

;